# phpstan.neon
parameters:
    paths:
        - app/
        - database/
    level: 6
    excludePaths:
        - %rootDir%/app/Http/Middleware/*
includes:
    - vendor/larastan/larastan/extension.neon
