name: Deploy Production
on:
  workflow_call:

jobs:
  production:
    runs-on: self-hosted
    environment: production
    steps:
      - name: Descargar Artefacto
        uses: actions/download-artifact@v4
        with:
          name: app-package

      - name: Despliegue Atómico Producción
        run: |
          # 1. Definir rutas
          RELEASE_PATH=/var/www/sistemaventas-prod/releases/${{ github.sha }}
          mkdir -p $RELEASE_PATH
          tar -xzf release.tar.gz -C $RELEASE_PATH
          
          # 2. Enlace al .env (aquí estaba el error del chown)
          ln -sfn /var/www/sistemaventas-prod/shared/.env $RELEASE_PATH/.env
          
          # 3. Permisos de escritura (Solo chmod, que es seguro para el pipeline)
          chmod -R 775 $RELEASE_PATH/storage
          chmod -R 775 $RELEASE_PATH/bootstrap/cache
          
          # 4. Laravel y Observabilidad (Punto D)
          cd $RELEASE_PATH
          php artisan optimize:clear
          php artisan migrate --force
          logger -t "CI-CD-PROD" "DEPLOY_SUCCESS RELEASE=${{ github.sha }} USER=${{ github.actor }}"
          
          # 5. Activación del release
          ln -sfn $RELEASE_PATH /var/www/sistemaventas-prod/current

      - name: Health Check Final
        run: |
          echo "Esperando a que los servicios se estabilicen..."
          sleep 10
          # Usamos -f para que falle el pipeline si no da 200, pero -s para no llenar el log de basura
          curl -f -s http://192.168.1.35:9090/api/health || (echo "El Health Check falló. Revisa logs de PHP-FPM" && exit 1)