name: Deploy Production
on:
  workflow_call:

jobs:
  production:
    runs-on: self-hosted
    environment: production
    steps:
      - name: Descargar Artefacto
        uses: actions/download-artifact@v4
        with:
          name: app-package

      - name: Despliegue Atómico Producción
        run: |
          # 1. Definir rutas y carpetas
          RELEASE_PATH=/var/www/sistemaventas-prod/releases/${{ github.sha }}
          mkdir -p $RELEASE_PATH
          tar -xzf release.tar.gz -C $RELEASE_PATH
          
          # 2. Configuración compartida
          ln -sfn /var/www/sistemaventas-prod/shared/.env $RELEASE_PATH/.env
          
          # 3. FIX DE PERMISOS (Punto A)
          chown -R fellsing:www-data $RELEASE_PATH
          chmod -R 775 $RELEASE_PATH/storage
          chmod -R 775 $RELEASE_PATH/bootstrap/cache
          
          # 4. Preparación de Laravel
          cd $RELEASE_PATH
          php artisan optimize:clear
          php artisan migrate --force
          
          # 5. Trazabilidad y Logs (Punto D)
          logger -t "CI-CD-PROD" "RELEASE=${{ github.sha }} STATUS=DEPLOYING USER=${{ github.actor }}"
          
          # 6. Puesta en vivo
          ln -sfn $RELEASE_PATH /var/www/sistemaventas-prod/current

      - name: Health Check (Asegúrate de usar el puerto de PROD)
        run: |
          sleep 5
          # Cambia el puerto si producción usa uno distinto al 9090
          curl -f http://192.168.1.35:8080/api/health